.background,
.background-overlay,
.background-circle-overlay {
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  transition: opacity 300ms linear;
  transform: translateZ(1000px);
}

.background {
  z-index: -1;
  transform: translateZ(-1000px);
}

.background-circle-overlay {
  background-color: transparent;
  background-image: url('../textures/circle-background.svg');
  background-size: 6000px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 500ms linear;
}

.background-overlay--clear {
  opacity: 0.8;
}

.background-overlay--hide,
.background-circle-overlay--hide {
  opacity: 0;
}
