.speech {
  opacity: 0;
  transition: opacity 150ms linear;
}

.speech:not(:empty) {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 20px;
  @include pivot;
  transform: scaleZ(1.5) translateX(-50%) translateY(-50%) translateZ(150px) rotateY(-90deg)
    rotateX(90deg) rotateZ(90deg);
  line-height: 1.6;
  min-width: 200px;
  text-align: center;
  opacity: 1;
}
